{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<main>
  <div>
    <h1>My Tasks</h1>
    {% if show_my_task %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </tr>
        </thead>
        {% for task in show_my_task %}
          <tr>
            <td> {{ task.name }} </td>
            <td> {{ task.start_date }} </td>
            <td> {{ task.due_date }} </td>
            <td> {{ task.is_completed|yesno:"yes,no" }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You have no tasks</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
